body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #0f0f1a, #1c1c2e);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    color: white;
}

/* karta */
.card {
    background: #222238;
    padding: 45px;
    border-radius: 25px;
    box-shadow: 0 0 40px rgba(255, 0, 120, 0.4);
    text-align: center;
}

/* nagłówek */
h1 {
    margin-bottom: 30px;
    font-size: 2.2em;
}

/* przyciski */
button {
    padding: 15px 35px;
    font-size: 18px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    margin: 10px;
    transition: 0.25s;
}

/* TAK */
#yes {
    background: #ff2e63;
    color: white;
}

#yes:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #ff2e63;
}

/* NIE */
#no {
    background: #555;
    color: white;
    position: absolute;
}

/* serduszka */
.heart {
    position: fixed;
    animation: float 3s linear forwards;
}

@keyframes float {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-200px);
        opacity: 0;
    }
}
